<div class="card">
<div class="card-header">Cadastro de Cliente</div>
<form class="form-inline" action="#">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><fa name="user"></fa></span>
    </div>
    <input type="text" class="form-control" placeholder="Nome Completo">
  </div>
  &nbsp;
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Cpf">
  </div>
  &nbsp;
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Data de Nascimento">
  </div>
  &nbsp;
  <select class="form-control" >
    <option>Sexo</option>
    <option>Masculino</option>
    <option>Feminino</option>
  </select>
   &nbsp;
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Ceular">
  </div>&nbsp;
  <button type="submit" class="btn btn-success">Pesquisar</button>&nbsp;
  <button type="submit" class="btn btn-warning">Cadastrar</button>&nbsp;
  <button type="submit" class="btn btn-primary">Atualizar</button>

<div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome Completo</th>
        <th>Cpf</th>
        <th>Data Nascimento</th>
		<th>Sexo</th>
		<th>Ceular</th>
		<th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John</td>
        <td>09890922754</td>
        <td>07/08/1983</td>
        <td>Masculino</td>
        <td>98195-2767</td>
        <td><fa class="corVermelha" name="times-circle"></fa></td>
      </tr>
	   <tr>
        <td>1</td>
        <td>John</td>
        <td>09890922754</td>
        <td>07/08/1983</td>
        <td>Masculino</td>
        <td>98195-2767</td>
        <td><fa class="corVermelha" name="times-circle"></fa></td>
      </tr>
	   <tr>
        <td>1</td>
        <td>John</td>
        <td>09890922754</td>
        <td>07/08/1983</td>
        <td>Masculino</td>
        <td>98195-2767</td>
        <td><fa class="corVermelha" name="times-circle"></fa></td>
      </tr>
	   <tr>
        <td>1</td>
        <td>John</td>
        <td>09890922754</td>
        <td>07/08/1983</td>
        <td>Masculino</td>
        <td>98195-2767</td>
        <td><fa class="corVermelha" name="times-circle"></fa></td>
      </tr>
	   <tr>
        <td>1</td>
        <td>John</td>
        <td>09890922754</td>
        <td>07/08/1983</td>
        <td>Masculino</td>
        <td>98195-2767</td>
        <td><fa class="corVermelha" name="times-circle"></fa></td>
      </tr>
      
    </tbody>
  </table>
  </div>
</form>
</div>
<router-outlet></router-outlet>
