thead{
	background-color:#f1f4f6;
}
table{
	margin-top:20px;
}
.corVermelha{
	color:red;
}

.card {
	margin:20px;
	border:none;
}
.card-header{
	background-color:#0069d9;
	color:#fff;
	margin-bottom:10px;	
}
.card-header:first-child{
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}